# Serveur
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=change_me_in_production_jwt_secret_min_32_chars
REFRESH_TOKEN_SECRET=change_me_in_production_refresh_secret_min_32_chars

# Base de données MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=taskflow_db
DB_USER=taskflow
DB_PASSWORD=taskflow_password

# CORS — séparer les origines par des virgules
ALLOWED_ORIGINS=http://localhost:4200

# URL publique de l'API (pour Swagger)
API_URL=https://taskflow.up.railway.app
